$monospace-font: monospace;
$bg: #222030;
$bg-darker: #1d1c2c;
$bg-lighter: #323040;
$fg: #f0f0f0;
$primary: #ff0048;
$primary-darker: #af0028;

body {
  transition: all 0.2s linear;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: $bg;
  color: $fg;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: $bg-darker;
  margin: 0;
}

h1 {
  color: $primary;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  position: relative;
}

.preview {
  background-color: $bg;
  border-radius: 0rem;

  filter: contrast(0.9);

  &-container {
    position: relative;
    overflow: hidden;
  }

  &-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1d1c2c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    z-index: 1000;

    opacity: 0;

    transition: all 0.2s linear;

    pointer-events: none;

    p {
      height: 2rem;
    }
  }
}

button {
  background-color: $primary;
  color: $fg;
  border: none;
  padding: 0.7rem;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
    background-color: $primary-darker;
    color: #ffffff;
  }
}

.settings {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;

  padding: 2rem;

  &-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.close-button {
  justify-self: flex-end;
  border-radius: 0;
  width: 100%;
}

.image_dialogue {
  background-color: $bg;
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100wv;
    height: 100wh;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-main {
    width: 50%;
    height: 50%;
    flex: 1 1;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  p {
    text-align: center;
  }
}

.copy_to_cliboard_button {
  max-width: 640px;
}

.copied {
  position: fixed;
  right: 0;
  bottom: 0;

  background-color: $bg-lighter;
  padding: 1rem;
  margin: 1rem;

  text-align: center;
  border-radius: 1rem;
}

.input-button {
  position: relative;
  display: flex;
  justify-content: stretch;

  input {
    flex: 1 1;
    padding: 0.7rem;
    border-radius: 1rem;
    box-shadow: none;
    border: none;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.file_input-container {
  background-color: $bg-darker;
  padding: 2rem;
  border-radius: 1rem;

  text-align: center;
}

.visible {
  opacity: 0.9;
}
